<div class="page-nav">
    <ul class="cl">
        <li><a href="/?airen=yuanyuan">设置定时器</a></li>
        <li><a href="/addpage?airen=yuanyuan">添加用户</a></li>
        <li><a href="/addPlat?airen=yuanyuan">添加公众平台</a></li>
        <li><a href="/userlist?airen=yuanyuan">用户列表</a></li>
        <li><a href="/viewInterval?airen=yuanyuan">查看定时任务</a></li>
        <li><a href="/download?airen=yuanyuan">下载</a></li>
    </ul>
</div>